
<mat-card>
    <form (submit)="onEditRecipe(formData)" #formData="ngForm" >
        <mat-form-field>
            <label>Recipe Title</label>
            <input type="text" matInput title="name" name="name">
        </mat-form-field>
        <mat-form-field>
            <label>Ingredients</label>
            <textarea rows="4" name="ingredients" matInput></textarea>
        </mat-form-field>
        <mat-form-field>
            <label>Recipe</label>
            <textarea rows="8" name="instructions" matInput>
            </textarea>
        </mat-form-field>
        <button type="submit">Edit Recipe</button>
    </form>
</mat-card>