<mat-card>
    <form (submit)="onEditRecipe(editform)" #editform="ngForm" >
        <mat-form-field>
            <label>Recipe Title</label>
            <input type="text" name="title" title="title" matInput>
        </mat-form-field>
        <mat-form-field>
            <label>Ingredients</label>
            <textarea rows="4" name="ingredients" matInput></textarea>
        </mat-form-field>
        <mat-form-field>
            <label>Recipe</label>
            <textarea rows="8" name="recipe" matInput>

            </textarea>
        </mat-form-field>
        <button type="submit">Submit Edit</button>
    </form>
</mat-card>